<div id="header">
    <div id="logo">
        <a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li {{#if isHomePage}} class = "selected" {{/if}}>
                <a href="/">Home</a>
            </li>
            <li {{#if isTravelPage}} class = "selected" {{/if}}>
                <a href= "/travel" >Travel</a>
            </li>
            <li {{#if isRoomsPage}} class = "selected" {{/if}}>
                <a href="/rooms">Rooms</a>
            </li>
            <li {{#if isMealsPage}} class = "selected" {{/if}}>
                <a href="/meals">Meals</a>
            </li>
            <li {{#if isNewsPage}} class = "selected" {{/if}}>
                <a href="/news">News</a>
            </li>
            <li {{#if isAboutPage}} class = "selected" {{/if}}>
                <a href="/about">About</a>
            </li>
            <li {{#if isContactPage}} class = "selected" {{/if}}>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>